<html>
<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>


</head>

<body class="uk-background-muted"
      style="background-image: url('https://source.unsplash.com/random'); background-size: cover; background-position: center">

<section class="uk-section uk-section-large" style="background-color: rgba(0,0,0,0.3); backdrop-filter: blur(5px)">
    <div class="uk-card uk-card-default uk-border-rounded uk-width-medium uk-margin-auto">
        <div class="uk-card-body">

            <h4 class="uk-text-center">Login</h4>

            <form>
                <div class="uk-margin uk-margin-small">
                    <label class="uk-text-small">Email</label>
                    <input type="email" class="uk-input uk-form-small uk-border-rounded" required>
                </div>

                <div class="uk-margin uk-margin-small">
                    <label class="uk-text-small">Password</label>
                    <input type="password" class="uk-input uk-form-small uk-border-rounded">
                    <div class="uk-text-right">
                        <a class="uk-text-small">Forget password</a>
                    </div>
                </div>

                <div class="uk-margin uk-margin-small uk-margin-medium-top">
                    <button class="uk-button uk-button-small uk-border-rounded uk-button-primary uk-width-1-1">LOGIN</button>
                </div>
            </form>

            <div class="uk-margin uk-text-center">
                <a class="uk-text-small">Or Sign Up</a>
            </div>
            <div class="uk-margin uk-text-center">
                <a class="uk-link" type="button" style="color: purple"><span uk-icon="icon:   twitch"></span></a>
                &nbsp;&nbsp;
                <a class="uk-link" type="button" style="color: #222222"><span uk-icon="icon:  github"></span></a>
                &nbsp;&nbsp;
                <a class="uk-link" type="button"><span uk-icon="icon:  linkedin"></span></a>

            </div>

            <div class="uk-margin uk-margin-medium-top uk-text-center">
                <a class="uk-text-small">Or Sign Up Using Email</a>
            </div>

        </div>
    </div>
</section>

</body>
</html>
